<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Register Page</title>
</head>
<body th:fragment="donor-register">
	<div class="container">
		<h2>Donor Register</h2>
		<form th:action="@{/addUser}"  method="post">
			<input type="text" name="username" placeholder="Enter Username">
			<input type="email" name="email" placeholder="Enter Email..">
			<input type="text" name="mobileNo" placeholder="Enter Mobile No..">
			<input th:object="${credentialDTO}" type="password" name="password" placeholder="Enter Password..">
			<input type="password" name="confirmPassword"
				placeholder="Please Re-enter Password.."> <select
				class="form-select" name="role" aria-label="Default select example">
				<option value="" selected>--Select--</option>
				<option value="1">Patient</option>
				<option value="2">Blood Donor</option>
			</select> <input type="submit" value="Submit">
		</form>
	</div>
</body>
</html>
